<div class="inner">
  <h1>取引先一覧</h1>
    <% @clients.each do |client| %>
      <div class="white-cards">
        <p class = "name"><%= client.name %></p>
        <i class="fas fa-coins"></i>&nbsp;<%= client.dispatching_fee_per_hour %>円/1時間
        <%= link_to content_tag(:i, "", class: "fas fa-edit"), edit_admin_client_path(client.id), class: "edit-button" %>
      </div>
      <%= link_to(content_tag(:i, "", class: 'fas fa-plus-circle plus-button'), new_admin_client_path) %>
    <% end %>
</div>
