<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      お疲れさまです。<br>
      スタッフ申請が届いています。<br>
      ・氏名：<%= @applicant_name %><br>
      <br>
      <%=link_to "こちら", @url %>からご確認後、ご承認お願いします。<br>
    </p>
  </body>
</html>
