<%= form_with url: new_admin_funeral_path, local: true, method: (:get) do |f| %>

      <li><%= f.datetime_select :start_time, :minute_step => 15 %></li>から
      <li><%= f.datetime_select :end_time, :minute_step => 15  %></li>
      <li><%= f.submit 'スタッフを探す' %></li>

<% end %>



<input type="text" id="alarm">

<script>$( "#alarm" ).timeDropper();</script>
