<h1>おばのhome</h1>

<%= link_to "シフトを入力する", :controller => "staff/shifts", :action => "new" %>
<%# <%= link_to "シフトを編集する", edit_shift_path %> %>
<%= link_to "シフト一覧をみる", :controller => "staff/shifts", :action => "index" %>
