<div class="inner">
  <div class="white-cards">
    <p>このお仕事は、開始時間が昨日か、それ以上前になっています。</p>
    <p>お仕事情報の修正を致しますので、一度、<%= @admin_user.family_name %>の方へ、ご連絡をお願い致します。</p>
    <p>修正が終わると、この表示は自動で消えます。</p>
  </div>
  <%= link_to "戻る", staff_home_path, class: "back_btn" %>
</div>
