<p id="notice"><%= notice %></p>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %>
    <%= link_to "詳細", staff_user_path(user.id) %></li>
  <% end %>
</ul>

<%= link_to "ホームに戻る", oba_home_path %>
