<p id="notice"><%= notice %></p>

<ul>
  <% @users.each do |user| %>
    <li>氏名：<%= user.name %></li>
    <li>メールアドレス：<%= user.email %></li>
    <li>住所：<%= user.address %></li>
    #可能会場
    <li>-----------------------------</li>
  <% end %>
</ul>
