<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.family_name + @user.first_name %>様</h1>
    <p>
      お疲れさまです！<br>
      お仕事依頼が来ています。<br>
      ・開始：<%= @funeral.start_time.strftime("%m月%d日 %H:%M〜") %><br>
      ・場所：<%= @funeral.funeral_hall.name %><br>
      <br>
      <%=link_to "こちら", @url %>をクリックして、承認 または 辞退の意をお伝えください。<br>
    </p>
  </body>
</html>
