<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>
      <%= @user.family_name %>様
      お待たせいたしました。<br>
      スタッフ承認が完了し、アプリをご利用頂けるようになりました。<br>
      <br>
      <%=link_to "こちら", @url %>から、<br>
      ・メールアドレス<br>
      と<br>
      ・パスワード<br>
      で、ログインして頂けます。<br>
      <br>
      使い方等に関してわからないことがあれば、お気軽にご連絡ください。<br>
      それでは、よろしくお願い申し上げます。<br>
    </p>
  </body>
</html>
