<div class="inner">
  <h1>スタッフ一覧</h1>
    <% @users.each do |user| %>
      <div class="white-cards">
        <p class = "name"><%= user.family_name + user.first_name %></p>
        <i class="fas fa-map-marker-alt"></i>&nbsp;<%= user.address %>
        <%= link_to content_tag(:i, "", class: "fas fa-edit"), edit_admin_user_path(user.id), class: "edit-button" %>
      </div>
    <% end %>
</div>
