<div class="users_table_container">
<h1>給与明細</h1>
<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.family_name + user.first_name, admin_payslip_path(user.id) %>
      </td>
    </tr>
  <% end %>
</table>
</div>
