<h1>会場一覧</h1>
<ul>
  <% @places.each do |place| %>
  <li>会館名：<%= place.name %></li>
  <li>住所：<%= place.address %></li>
  <li>最寄駅：<%= place.nearest_station %></li>
  <li>------------------------------------------------</li>
  <% end %>
</ul>

<%= link_to 'ホームへ戻る', staff_home_path %>
