<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.messages.each do |attr, msgs| %>
        <li><%= model.errors.full_messages_for(attr).first %></li>
      <% end %>
    </ul>
  </div>
<% end %>
